{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %} Log In {% endblock title %}

{% block content %}
    <div class="m-3">
        <h1 class="text-center fw-normal">Log In to Season Events</h1>

        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn btn-light " type="submit" style="border-color: darkgrey">Log In</button>
        </form>

        <p class="text-center mt-3">New to Season Events?
            <a href="{% url 'event:signup' %}" class="link-offset-2 link-offset-3-hover link-underline
             link-underline-opacity-0 link-underline-opacity-75-hover">
            Create an account
            </a>
        </p>
    </div>
{% endblock %}