{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %} Log Out {% endblock title %}

{% block content %}
    <div class="text-center mt-5">
        <h4> Are you sure you want to log out?</h4>

        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn mt-3" style="background-color: white; border-color: darkgrey">
                <a href="{%  url 'event:event_list' %}" class="link-dark link-underline-opacity-0" >Log Out</a>
            </button>
            <button type="submit" class="btn mt-3" style="background-color: white; border-color: darkgrey">
                <a href="{%  url 'event:event_list' %}" class="link-dark link-underline-opacity-0" >Cancel</a>
            </button>
        </form>
    </div>
{% endblock %}