<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Margherita Boanini">
    <meta name="description" content="PPM_2 Margherita Boanini">
    <meta name="keywords" content="events">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{% block title%}Eventi {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        body{
            margin-bottom: 60px;
        }

        .btn-style{
            border-color:darkgrey;
            outline-color: darkgrey;
            color: black;
        }

        .btn-style:hover{
            background-color: #8868de;
            outline-color: #8868de;
            color: white;
        }

        #images {
            height: 300px;
            overflow: hidden;
            background-size: 100% auto;
            background-position: center;
            background-repeat: no-repeat;
        }

    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #8868de; ">
        <div class="container-fluid">
            <a class="navbar-brand h1" style="color: white" href="{% url 'event:event_list'%}">Season Events</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
                    aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <form class="ml-auto d-flex m-2" role="search" method="GET" action="{% url 'event:event_search' %}">
                            <input class="form-control me-2" type="text" name="query" placeholder="Search" aria-label="Search"
                                value="{{ query }}">
                            <button class="btn btn-outline-light" type="submit">Search</button>
                        </form>
                    </li>
                    <li class="nav-item dropdown m-2">
                        <button class="btn dropdown-toggle btn-style" data-bs-toggle="dropdown" aria-expanded="false"
                                style="background-color: #8868de; color: white;">
                        {% if not user.is_authenticated %}Hello!{% else %}Hi, {{ request.user.username }}!{% endif %}
                        </button>
                        <ul class="dropdown-menu" style="background-color: white; ">
                            {% if not user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url 'event:login' %}">Log In</a></li>
                                <li><a class="dropdown-item" href="{% url 'event:signup' %}">Sign Up</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{% url 'event:my_profile' %}">My Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'event:create_event' %}">Create Event</a></li>
                                <li><a class="dropdown-item" href="{% url 'event:my_events' %}">Manage Event</a></li>
                                <li><a class="dropdown-item" href="{% url 'event:logout' %}">Log out</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script>
        $(document).ready(function() {
            $('.dropdown-toggle').dropdown();
        });
    </script>

    {% block content %}

    {% endblock %}

    <footer>
        <div class="text-center p-3 fixed-bottom text-white" style="background-color: #8868de">
            © 2023 Copyright:
            <a class="text-white link-underline-opacity-0" href="http://127.0.0.1:8000">Season Events</a>
        </div>
    </footer>

    {% if messages %}
        <script>
            {% for message in messages %}
                var messageType = "{{ message.tags }}";
                var messageText = "{{ message }}";
                if (messageType === "error")
                    alert(messageText);
            {% endfor %}
        </script>
    {% endif %}
</body>
</html>