{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %} Create Event {% endblock title %}

{% block content %}

        <h1 class="text-center">Create Event</h1>
    <div class="d-flex justify-content-center mb-3">
        <form class="col-6" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn btn-light " type="submit" style="border-color: darkgrey">Create</button>
        </form>
    </div>

{% endblock %}