{% extends "base.html" %}
{%  load static %}

{% block title %} Events {% endblock title %}
{% block content %}

    <p style="background-color: #8868de; color: white;" class="col-12 p-4 h1 text-center">
            Discovering Florence...<b>Here is everything you are looking for!</b> </p>

    <div id="images" style="background-image: url(https://content.skyscnr.com/m/7267e6301f7cc00c/original/GettyImages-139509777_doc.jpg?resize=1800px:1800px&quality=100)"></div>

    <ul>
        <div class="d-flex justify-content-start mx-3 my-3 flex-wrap">
            {% for event in events %}
            <div class="mx-3 my-3">
                <div class="card" style="width: 15rem; border-radius:2%;">
                    <img src="{{ MEDIA_URL }}{{ event.image }}" class="card-img-top" alt="Event Image">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ event.title }}
                        </h5>
                        <h6 class="sub-title mb-2 text-body-secondary">{{ event.date }} {{ event.time }}</h6>
                        <p class="card-descr">
                            {{ event.description }}
                        </p>
                        <a href="{% url 'event:event_detail' title=event.title %}" class="btn btn-style">Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </ul>
{% endblock %}


