{% extends "base.html" %}

{% block title %} Registration {% endblock title %}

{% block content %}
    <h1>Registration: {{  event.title }}</h1>
    <p>Description: {{ event.description }}</p>
    <p>Date: {{ event.date }}</p>
    <p>Place: {{ event.location }}</p>

    {% if is_registered %}
        <p>You are already registered for this event.</p>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            <input type="submit" value="Buy Ticket">
        </form>
    {% endif %}
{% endblock %}