{% extends "base.html" %}

{% block title %} Events {% endblock title %}
{% block content %}
    <p class="m-3">
        <a href="{% url 'event:event_list'%}" style="color: black;" class="link-offset-2 link-offset-1-hover link-underline
                link-underline-opacity-0 link-underline-opacity-75-hover link-dark"> <b> Home </b></a></p>

    <h4 class="mx-3 my-3">Results related to <b>{{ query }}</b></h4>
    <div class="d-flex justify-content-start mx-3 flex-wrap">
        {% if events %}
            <div class="row ml-3">
                {% for event in events %}
                <div class="col-xs-12 col-sm-6 col-lg-4 mt-3">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ event.title }}
                            </h5>
                            <h6 class="sub-title mb-2 text-body-secondary">{{ event.date }} {{ event.time }}</h6>
                            <p class="card-descr">
                                {{ event.description }}
                            </p>
                            <a href="{% url 'event:event_detail' title=event.title %}" class="btn btn-outline-info">
                                Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p> <b>No events found.</b></p>
        {% endif %}
    </div>
{% endblock %}