{% extends "base.html" %}

{% block title %} Registration {% endblock title %}

{% block content %}
    <h3 class="mt-5 text-center">Summary - {{ event.title }}</h3>
    <div class="d-flex justify-content-center align-self-center">
        <div class="card mt-4">
            <div class="card-body" style="width: 18rem;">
                <h5 class="card-title">{{ event.title }}</h5>
                <p class="card-text">{{ event.description }}</p>
            </div>
             <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b>Date</b>: {{ event.date }}
                </li>
                <li class="list-group-item">
                    <b>Place</b>: {{ event.location }}
                </li>
             </ul>
            <div class="card-body">
                <a href="{% url 'event:payment'%}" class="btn btn-style" >
                    Buy Ticket </a>
            </div>
        </div>
    </div>
{% endblock %}