{% extends "base.html" %}

{% block title %} Events {% endblock title %}

{% block content %}
    <div class="d-flex justify-content-center">
        {% if events %}
            <div class="row ml-3">
                {% for event in events %}
                <div class="col-xs-12 col-sm-6 mt-3 ml-3">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ event.title }}
                            </h5>
                            <h6 class="sub-title mb-2 text-body-secondary">{{ event.date }} {{ event.time }}</h6>
                            <p class="card-descr">
                                {{ event.description }}
                            </p>
                            <div class="text-end">
                                <a href="{% url 'event:modify_event' title=event.title %}" class="btn btn-outline-info">Modify</a>
                                <a href="{% url 'event:remove_event' title=event.title %}" class="btn btn-outline-info">Remove</a>
                                <a href="{% url 'event:participant_list' title=event.title %}" class="btn btn-outline-info mt-2">
                                    Subscriber List</a>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    <p>No events found.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}