{% extends "base.html" %}

{% block title %} Participant List {% endblock title %}
{% block content %}
    <h1>Participant List - {{ event.title }}</h1>
    <table>
        <thead>
            <tr>
                <th>Participant</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {%  for registration in registrations %}
                <tr>
                    <td>{{ registration.participant.username }}</td>
                    <td>{{ registration.participant.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
