{% extends "base.html" %}

{% block title %} Participant List {% endblock title %}
{% block content %}
    <div class="mx-3 my-3">
        <h1>Participant List - {{ event.title }}</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Participant</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {%  for registration in registrations %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ registration.participant.username }}</td>
                        <td>{{ registration.participant.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
