{% extends "base.html" %}

{% block title %} My Profile {% endblock title %}

{% block content %}
    <p class="m-3">
        <a href="{% url 'event:event_list'%}" style="color: black;" class="link-offset-2 link-offset-1-hover link-underline
                link-underline-opacity-0 link-underline-opacity-75-hover link-dark"> <b> Home </b></a></p>

    <div class="d-flex justify-content-center my-5">
        <div class="card text-center col-6">
        <div class="card-header">
            Payment confirmation
        </div>
        <div class="card-body">
            <h5 class="card-title">This is the payment receipt</h5>
            <a href="{% url 'event:my_profile' %}" class="btn m-2" style="background-color: blueviolet; color: white">
                <b>Payment successful</b></a>
        </div>
        <div class="card-footer text-muted">
            30 sec ago
        </div>
    </div>
    </div>

{% endblock %}