{% extends "base.html" %}

{% block title %} Cancel Booking {% endblock title %}

{% block content %}
    <p class="m-3">
        <a href="{% url 'event:event_list'%}" style="color: black;" class="link-offset-2 link-offset-1-hover link-underline
                link-underline-opacity-0 link-underline-opacity-75-hover link-dark"> <b> Home </b></a></p>

    <div class="d-flex justify-content-center my-5">
        <div class="card text-center col-6">
            <div class="card-header">
                Cancel booking
            </div>
            <div cla   ss="card-body">
                <h5 class="card-title my-2">You are no longer registered for the event</h5>
                <a href="{% url 'event:my_profile' %}" class="btn btn-style m-2">
                To my profile</a>
            </div>
        </div>
    </div>
{% endblock %}